<h1>Good Evening This is dynamic web page</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<%= 1+1 %><br/>
<h2>Hello earthlings The time is </h2>
<%= Time.now %><br/>
<%= Time.now.strftime("%H:%M:%S")%><br/>
<%= Rails.version%><br/>
<%= "Jovanca".first%>
<%= "Jovanca".last%>